tests/FSharp.Data.WsdlProvider.Tests/rtti_2017-10-01_ldb_types.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ct20071010="http://thalesgroup.com/RTTI/2007-10-10/ldb/commontypes" xmlns:ct20151127="http://thalesgroup.com/RTTI/2015-11-27/ldb/commontypes" xmlns:ct20160216="http://thalesgroup.com/RTTI/2016-02-16/ldb/commontypes" xmlns:ct20170202="http://thalesgroup.com/RTTI/2017-02-02/ldb/commontypes" xmlns:ct20171001="http://thalesgroup.com/RTTI/2017-10-01/ldb/commontypes" xmlns:ldbt20120113="http://thalesgroup.com/RTTI/2012-01-13/ldb/types" xmlns:ldbt20151127="http://thalesgroup.com/RTTI/2015-11-27/ldb/types" xmlns:ldbt20160216="http://thalesgroup.com/RTTI/2016-02-16/ldb/types" xmlns:ldbt20171001="http://thalesgroup.com/RTTI/2017-10-01/ldb/types" targetNamespace="http://thalesgroup.com/RTTI/2017-10-01/ldb/types" elementFormDefault="qualified" attributeFormDefault="unqualified" id="RTTI_2017-10-01_ldb_types">
	<xs:import namespace="http://thalesgroup.com/RTTI/2007-10-10/ldb/commontypes" schemaLocation="rtti_2007-10-10_ldb_common_types.xsd"/>
	<xs:import namespace="http://thalesgroup.com/RTTI/2015-11-27/ldb/commontypes" schemaLocation="rtti_2015-11-27_ldb_common_types.xsd"/>
	<xs:import namespace="http://thalesgroup.com/RTTI/2016-02-16/ldb/commontypes" schemaLocation="rtti_2016-02-16_ldb_common_types.xsd"/>
	<xs:import namespace="http://thalesgroup.com/RTTI/2017-02-02/ldb/commontypes" schemaLocation="rtti_2017-02-02_ldb_common_types.xsd"/>
	<xs:import namespace="http://thalesgroup.com/RTTI/2017-10-01/ldb/commontypes" schemaLocation="rtti_2017-10-01_ldb_common_types.xsd"/>
	<xs:import namespace="http://thalesgroup.com/RTTI/2012-01-13/ldb/types" schemaLocation="rtti_2012-01-13_ldb_types.xsd"/>
	<xs:import namespace="http://thalesgroup.com/RTTI/2015-11-27/ldb/types" schemaLocation="rtti_2015-11-27_ldb_types.xsd"/>
	<xs:import namespace="http://thalesgroup.com/RTTI/2016-02-16/ldb/types" schemaLocation="rtti_2016-02-16_ldb_types.xsd"/>
	<!-- Simple types -->
	<!-- Complex types -->
	<xs:complexType name="StationBoard">
		<xs:annotation>
			<xs:documentation>A structure containing details of a basic departure board for a specific location.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ldbt20151127:BaseStationBoard">
				<xs:sequence>
					<xs:element name="trainServices" type="ldbt20171001:ArrayOfServiceItems" minOccurs="0">
						<xs:annotation>
							<xs:documentation>A list of train services for this departure board.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="busServices" type="ldbt20171001:ArrayOfServiceItems" minOccurs="0">
						<xs:annotation>
							<xs:documentation>A list of scheduled or replacement rail bus services for this departure board.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ferryServices" type="ldbt20171001:ArrayOfServiceItems" minOccurs="0">
						<xs:annotation>
							<xs:documentation>A list of ferry services for this departure board.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="StationBoardWithDetails">
		<xs:annotation>
			<xs:documentation>A structure containing details of a "WithDetails" departure board for a specific location.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ldbt20151127:BaseStationBoard">
				<xs:sequence>
					<xs:element name="trainServices" type="ldbt20171001:ArrayOfServiceItemsWithCallingPoints" minOccurs="0">
						<xs:annotation>
							<xs:documentation>A list of train services for this departure board.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="busServices" type="ldbt20171001:ArrayOfServiceItemsWithCallingPoints" minOccurs="0">
						<xs:annotation>
							<xs:documentation>A list of scheduled or replacement rail bus services for this departure board.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ferryServices" type="ldbt20171001:ArrayOfServiceItemsWithCallingPoints" minOccurs="0">
						<xs:annotation>
							<xs:documentation>A list of ferry services for this departure board.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ServiceDetails">
		<xs:annotation>
			<xs:documentation>A structure containing details of an individual service obtained from a departure board.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ldbt20171001:BaseServiceDetails">
				<xs:sequence>
					<xs:element name="adhocAlerts" type="ldbt20120113:ArrayOfAdhocAlert" minOccurs="0">
						<xs:annotation>
							<xs:documentation>A list of active Adhoc Alert texts for this location.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="formation" type="ldbt20171001:FormationData" minOccurs="0">
						<xs:annotation>
							<xs:documentation>The formation data of the train at this location (if known).</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:group ref="ldbt20171001:CallingListProperties"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DeparturesBoard">
		<xs:annotation>
			<xs:documentation>A structure containing details of a basic next/fastest departures board for a specific location.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ldbt20151127:BaseStationBoard">
				<xs:sequence>
					<xs:element name="departures" type="ldbt20171001:ArrayOfDepartureItems">
						<xs:annotation>
							<xs:documentation>A list of next/fastest services for this departures board.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DeparturesBoardWithDetails">
		<xs:annotation>
			<xs:documentation>A structure containing details of a "WithDetails" next/fastest departures board for a specific location.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ldbt20151127:BaseStationBoard">
				<xs:sequence>
					<xs:element name="departures" type="ldbt20171001:ArrayOfDepartureItemsWithCallingPoints">
						<xs:annotation>
							<xs:documentation>A list of next/fastest services for this departures board.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BaseServiceDetails">
		<xs:annotation>
			<xs:documentation>A structure containing base details of an individual service obtained from a departure board.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="generatedAt" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>A timestamp of the time these service details were generated.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="serviceType" type="ct20071010:ServiceType">
				<xs:annotation>
					<xs:documentation>The type of service (train, bus, ferry) that these details represent. Note that real-time information (e.g. eta, etd, ata, atd, isCancelled, etc.) is only available and present for train services.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="locationName" type="ct20071010:LocationNameType">
				<xs:annotation>
					<xs:documentation>The display name of the departure board location that these service details were accessed from.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="crs" type="ct20071010:CRSType">
				<xs:annotation>
					<xs:documentation>The CRS code of the departure board location that these service details were accessed from.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="operator" type="ct20071010:TOCName">
				<xs:annotation>
					<xs:documentation>The display name of the Train Operating Company that operates this service.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="operatorCode" type="ct20071010:TOCCode">
				<xs:annotation>
					<xs:documentation>The code of the Train Operating Company that operates this service.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="rsid" type="ct20160216:RSIDType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The Retail Service ID of the service, if known.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="isCancelled" type="xs:boolean" default="false" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Indicates that the service is cancelled at this location.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="cancelReason" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>A cancellation reason for this service.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="delayReason" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>A delay reason for this service.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="overdueMessage" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>If an expected movement report has been missed, this will contain a message describing the missed movement.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="length" type="ct20151127:TrainLength" default="0" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The train length (number of units) at this location. If not supplied, or zero, the length is unknown.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="detachFront" type="xs:boolean" default="false" minOccurs="0">
				<xs:annotation>
					<xs:documentation>True if the service detaches units from the front at this location.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="isReverseFormation" type="xs:boolean" default="false" minOccurs="0">
				<xs:annotation>
					<xs:documentation>True if the service is operating in the reverse of its normal formation.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="platform" type="ct20071010:PlatformType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The platform number that the service is expected to use at this location, if known and available.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sta" type="ct20151127:TimeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The scheduled time of arrival of this service at this location. If no sta is present then this is the origin of this service or it does not set down passengers at this location.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="eta" type="ct20151127:TimeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The estimated time of arrival. Will only be present if sta is also present and ata is not present.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ata" type="ct20151127:TimeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The actual time of arrival. Will only be present if sta is also present and eta is not present.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="std" type="ct20151127:TimeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The scheduled time of departure of this service at this location. If no std is present then this is the destination of this service or it does not pick up passengers at this location.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="etd" type="ct20151127:TimeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The estimated time of departure. Will only be present if std is also present and atd is not present.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="atd" type="ct20151127:TimeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The actual time of departure. Will only be present if std is also present and etd is not present.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ServiceItem">
		<xs:annotation>
			<xs:documentation>An individual service's summary details for display on a basic departure board.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ldbt20160216:ServiceItem">
				<xs:sequence>
					<xs:element name="formation" type="ldbt20171001:FormationData" minOccurs="0">
						<xs:annotation>
							<xs:documentation>The formation data of the train at this location (if known).</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ServiceItemWithCallingPoints">
		<xs:annotation>
			<xs:documentation>An individual service's summary details with calling points for display on a "WithDetails" departure board.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ldbt20171001:ServiceItem">
				<xs:group ref="ldbt20171001:CallingListProperties"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DepartureItem">
		<xs:annotation>
			<xs:documentation>An individual service's summary details for display on a basic next/fastest departures board.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="service" type="ldbt20171001:ServiceItem" nillable="true" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The details of the next/fastest service.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="crs" type="ct20071010:CRSType" use="required">
			<xs:annotation>
				<xs:documentation>The CRS code from the requested filterList for which this service is the next/fastest departure.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="DepartureItemWithCallingPoints">
		<xs:annotation>
			<xs:documentation>An individual service's summary details for display on a "WithDetails" next/fastest departures board.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="service" type="ldbt20171001:ServiceItemWithCallingPoints" nillable="true" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The details of the next/fastest service.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="crs" type="ct20071010:CRSType" use="required">
			<xs:annotation>
				<xs:documentation>The CRS code from the requested filterList for which this service is the next/fastest departure.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="CallingPoint">
		<xs:annotation>
			<xs:documentation>An individual calling point in a service.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="locationName" type="ct20071010:LocationNameType">
				<xs:annotation>
					<xs:documentation>The display name of this location.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="crs" type="ct20071010:CRSType">
				<xs:annotation>
					<xs:documentation>The CRS code of this location.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="st" type="ct20151127:TimeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The scheduled time of the service at this location. The time will be either an arrival or departure time, depending on whether it is in the subsequent or previous calling point list.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="et" type="ct20151127:TimeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The estimated time of the service at this location. The time will be either an arrival or departure time, depending on whether it is in the subsequent or previous calling point list. Will only be present if an actual time (at) is not present.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="at" type="ct20151127:TimeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The actual time of the service at this location. The time will be either an arrival or departure time, depending on whether it is in the subsequent or previous calling point list. Will only be present if an estimated time (et) is not present.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="isCancelled" type="xs:boolean" default="false" minOccurs="0">
				<xs:annotation>
					<xs:documentation>A flag to indicate that this service is cancelled at this location.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="length" type="ct20151127:TrainLength" default="0" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The train length (number of units) at this location. If not supplied, or zero, the length is unknown.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="detachFront" type="xs:boolean" default="false" minOccurs="0">
				<xs:annotation>
					<xs:documentation>True if the service detaches units from the front at this location.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="formation" type="ldbt20171001:FormationData" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The formation data of the train at this location (if known).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="adhocAlerts" type="ldbt20120113:ArrayOfAdhocAlert" minOccurs="0">
				<xs:annotation>
					<xs:documentation>A list of active Adhoc Alert texts  for to this location.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:group name="CallingListProperties">
		<xs:annotation>
			<xs:documentation>Common list properties of previous and subsequent calling points.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="previousCallingPoints" type="ldbt20171001:ArrayOfArrayOfCallingPoints" minOccurs="0">
				<xs:annotation>
					<xs:documentation>A list of lists of the previous calling points in the journey. A separate calling point list will be present for each origin of the service, relative to the current location. Refer to the documentation for how these lists should be handled.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="subsequentCallingPoints" type="ldbt20171001:ArrayOfArrayOfCallingPoints" minOccurs="0">
				<xs:annotation>
					<xs:documentation>A list of lists of the subsequent calling points in the journey. A separate calling point list will be present for each destination of the service, relative to the current location. Refer to the documentation for how these lists should be handled.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:group>
	<xs:complexType name="FormationData">
		<xs:annotation>
			<xs:documentation>Formation data at a calling point.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="avgLoading" type="ct20170202:LoadingValue" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Average Loading of the train as a whole at this Calling Point. This is a fixed value that is based on long-term averages and does not vary according to real-time actual loading.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="coaches" type="ldbt20171001:ArrayOfCoaches" minOccurs="0">
				<xs:annotation>
					<xs:documentation>A list of coaches that comprise the train formation at this calling point. Will be absent if the formation is unknown.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CoachData">
		<xs:annotation>
			<xs:documentation>The data for an individual coach in a formation.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="coachClass" type="ct20170202:CoachClassType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The class of a coach, where known, e.g. First, Standard, Mixed. Other classes may be introduced in future without a schema change.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="toilet" type="ct20171001:ToiletAvailabilityType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The availability of a toilet in this coach. E.g. "Unknown", "None" , "Standard" or "Accessible". Note that other values may be supplied in the future without a schema change. If no toilet availability is supplied then it should be assumed to be "Unknown".</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="loading" type="ct20170202:LoadingValue" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The currently estimated passenger loading value for this coach, where known.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="number" type="ct20170202:CoachNumberType" use="required">
			<xs:annotation>
				<xs:documentation>The number/identifier for this coach, e.g. "A" or "12".</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ArrayOfServiceItems">
		<xs:annotation>
			<xs:documentation>A list of services on a departure board.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="service" type="ldbt20171001:ServiceItem" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ArrayOfServiceItemsWithCallingPoints">
		<xs:annotation>
			<xs:documentation>A list of services on a departure board with details of their calling points.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="service" type="ldbt20171001:ServiceItemWithCallingPoints" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ArrayOfDepartureItems">
		<xs:annotation>
			<xs:documentation>A list of next/fastest services on a departures board.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="destination" type="ldbt20171001:DepartureItem" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ArrayOfDepartureItemsWithCallingPoints">
		<xs:annotation>
			<xs:documentation>A list of next/fastest services with calling points on a departures board.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="destination" type="ldbt20171001:DepartureItemWithCallingPoints" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ArrayOfCoaches">
		<xs:annotation>
			<xs:documentation>A list of coaches in a train formation.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="coach" type="ldbt20171001:CoachData" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ArrayOfArrayOfCallingPoints">
		<xs:annotation>
			<xs:documentation>A list of calling point lists representing multiple journey segments. Refer to the documentation for how these lists should be handled.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="callingPointList" type="ldbt20171001:ArrayOfCallingPoints" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ArrayOfCallingPoints">
		<xs:annotation>
			<xs:documentation>A list of calling points in a single journey segment.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="callingPoint" type="ldbt20171001:CallingPoint" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="serviceType" type="ct20071010:ServiceType" use="optional" default="train">
			<xs:annotation>
				<xs:documentation>The type of service (train, bus, ferry) of this list of calling points.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="serviceChangeRequired" type="xs:boolean" use="optional" default="false">
			<xs:annotation>
				<xs:documentation>A boolean to indicate that passenger required to change the service or not.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="assocIsCancelled" type="xs:boolean" use="optional" default="false">
			<xs:annotation>
				<xs:documentation>A boolean to indicate that this route from the origin or to the destination can no longer be reached because the association has been cancelled.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
